//-
	Forms
	------------------------------
	
	Args
	* modal  - boolean
	* initial [default "join"] - accepts "signin" | "join" | "password"
	* from - specify a page
	
include form-signup
include form-signin

mixin auth-forms(args)
	if args.modal
		+form-signin(args)
		+form-signup(args)
			
	else
		if args.initial == 'signup'
			+form-signup(args)
		else
			+form-signin(args)
	
